<!-- added "semantic_" to line below #00425 -->
<%= semantic_form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- original code before #00425 -->
  <% if false %> 
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :activity_type_id %><br>
      <%= f.number_field :activity_type_id %>
    </div>
    <div class="field">
      <%= f.label :parent_id %><br>
      <%= f.number_field :parent_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  <!-- new code after #00425 -->
  <!-- <%= f.semantic_errors %> -->
  <div class="field">
    <%= f.inputs do %>
      <%= f.input :name, :hint => "Enter the activity name2" %>
      <%= f.input :activity_type, :include_blank => false %>
      <!-- #00440 next 2 lines - setting up self referencing in formtastic 
      The :parent_activity & actvities data types has been set up in file ..\models\activity.rb -->
      <%= f.input :parent_activity, :as => :select, :label => "Parent Activity", :label_method => :name, :value_method => :parent_id, :include_blank => true %>
      <%= f.input :activities, :as => :select, :label => "Children (Read Only)", :label_method => :name, :value_method => :id, :input_html => { :disabled => true } %>
      <%= f.input :activities, :hint => "Hint", :as => :datalist, :collection => Activity.pluck(:name), :label => "Children List (Read Only)" %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.actions do %>
      <%= f.action :submit %>
    <% end %>
  </div>


<% end %>
