<!-- added "semantic_" to line below #00425 -->
<%= semantic_form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- original code before #00425 -->
  <% if false %> 
    <div class="field">
      <%= f.label :activity_name %><br>
      <%= f.text_field :activity_name %>
    </div>
    <div class="field">
      <%= f.label :activity_type_id %><br>
      <%= f.number_field :activity_type_id %>
    </div>
    <div class="field">
      <%= f.label :parent_activity_id %><br>
      <%= f.number_field :parent_activity_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  <!-- new code after #00425 -->
  <%= f.semantic_errors %>
  <div class="field">
    <%= f.inputs do %>
      <%= f.input :activity_name, :hint => "Enter the activity name" %>
      <%= f.input :activity_type, :include_blank => false %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.actions do %>
      <%= f.action :submit %>
    <% end %>
  </div>


<% end %>
