<!-- #005 removed as duplicate messages : <p id="notice"><%= notice %></p> -->

<h1>Personal Activities</h1>

<table>
  <thead>
    <tr>
      <th>Activity Id</th>
      <th>Activity name</th>
      <th>Activity type</th>
      <th>Parent activity</th>
      <!--- #00441 - added col heading for User -->
      <th>Added by (User) </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.id %></td>
        <td><%= activity.name %></td>
        <td><%= activity.activity_type.name %></td>
        <!-- #00441 line below was <td><%= activity.parent_id %></td> 
        add try method to replace NULL or NIL values -->
        <td><%= activity.parent_activity.try(:name) %></td>
        <!--- #00441 - added field for User.email-->
        <td><%= activity.user.email %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
