<p id="notice"><%= notice %></p>

<p>
  <strong>Activity name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Activity type:</strong>
  <%= @activity.activity_type_id %>
</p>

<p>
  <strong>Parent activity:</strong>
  <%= @activity.parent_activity_id %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
